<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <% if @user.id == current_user.id %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user_stocks.each do |user_stock| %>
    <tr>
      <td><%= user_stock.name %></td>
      <td><%= user_stock.ticker %></td>
      <td><%= user_stock.price %></td>
      <% if @user.id == current_user.id %>
      <td>
        <%= link_to 'Delete', user_stock_path(user_stock), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs btn-danger" %>
      </td>
      <% else %>
      <td>
        <% if @user.can_add_stock?(user_stock.ticker) %>
          <%#= link_to "Add To My Stocks", user_stocks_path(user: @user, stock_ticker: user_stock.ticker, stock_id: user_stock.id ? user_stock.id : ''), :data => { :confirm => "Add to your current stocks?" }, class: 'btn btn-xs btn-success', method: :post %>
          <span>Add</span>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>